@import "variables";
@import "mixins";

.excel__table{

  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  right: 0;
  left: 0;
  overflow-x: auto;
  padding-bottom: 2px;

  .row{
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info{

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
    position: relative;
  }

  .row-data{
    display: flex;
  }

  .column{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
    position: relative;
  }

  .cell{

    min-width: 40px;
    width: $cell-width;
    padding: 5px;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected{
      outline: 2px solid $primary-color;
      border: none;
      z-index: 2;
    }
  }

  .col-resize, .row-resize{
    position: absolute;
    background: $primary-color;
    opacity: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    &:hover {
      opacity: 1 !important;
    }
  }

  .col-resize{
    width: 4px;
    top: 0;
    background: $primary-color;

    &:hover{
      opacity: 1;
      cursor: col-resize;
    }
  }

  .row-resize{
    left: 0;
    height: 4px;
    bottom: 0;

    &:hover{
      cursor: row-resize;
    }
  }

}