@import "variables";
@import "mixins";

.excel__toolbar{
  position: absolute;
  top: $header-height;
  right: 0;
  left: 0;
  height: $toolbar-height;
  padding: 7px 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;

  .button{
    @include button(green)
  }
}